.channel-anchor {
    margin-left: 20px;
    padding-left: 20px;
}

.ts-channel-list, .app-left-rail-width, .ts-left-rail, .ts-left-rail-wrapper, .active-rail, [data-tid="left-rail"] {
    max-width: 250px;
}

.message-pane[aria-label$="channel content"] .ts-message {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.message-pane[aria-label$="chat content"] .ts-message {
    padding-right: 0px;
    padding-top: 5px;
}

.message-body {
    padding-top: 3px;
}

.media-left {
    padding-top: 0px;
    padding-bottom: 0px;
}

.media-left .ts-skype-status {
    top: 2.8rem;
}

.ts-new-message {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

.ts-message-list-container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}

.ts-message-list-item {
    max-width: none;
    padding-left: 6px;
    padding-right: 20px;
}
